@media only screen and (max-device-width: 640px){
    .signin-card{
        width: 16rem !important;
        border-radius: 1.5rem !important;
    }

}
@media only screen and (min-device-width: 1100px){
    .signin-card{
        width: 25rem;
        border-radius: 2rem !important; 
    }
}
